*, ::before  ::after {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    background: #143777;
    display: grid;
    place-items: center;
    padding: 0;
}
.container{
    width: 100%;
    max-width: 800px;
    background: #ffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 20px;
}
.container h1{
   text-align: center; 
  font-size: clamp(30px, 5vw, 50px);
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  color: midnightblue;
}
.form{
    width: 100%;
}
form input, form textarea {
width: 100%;
border: black;
outline: none;
border-bottom: 10rem;
color: midnightblue;
padding: 1rem;
background: none;
color: #14269133;
font-size: 16px;
}
form input:focus, form textarea:focus {
    border-bottom: 1px solid red;
}
form textarea{
    height: 150px;
    resize: none;
}

form input[type="submit"]{
    cursor: pointer;
    border-bottom: none;
     background: red;
     color: white;
     font-weight: bold;
    border-radius: 10px;
}
form input[type="submit"]:hover{
background: midnightblue;
}
.infos{
    text-align: center;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    border-radius: 10px;
    color: rgb(102,24,24);
    background: rgb(237,24,24);
}

.success{
    text-align: center;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    border-radius: 10px;
    color: rgb(17, 143, 23);
    background: rgb(180, 187, 189);
}